#a{
	color: white;
	background-color: black;
}
    #ac {
border: 3px solid #201772;
border-radius: 5px;

}
 #ad {
border: 3px solid #201772;
border-radius: 5px;
background-color: ;
}
    #ae {
border: 3px solid  #CDE6B8;
border-radius: 5px;
background-color:  #BADBE1;
}
	#bb{
		background-color: #28a745;
}

